# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [1]:
# Use smaity_env1
import findspark
findspark.init('/home/siddharth/spark-3.2.0-bin-hadoop3.2')

from pyspark.sql import SparkSession

# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions 
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()

In [3]:
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)

In [4]:
user_log.createOrReplaceTempView("user_log_table")

# Question 1

Which page did user id ""(empty string) NOT visit?

In [5]:
# TODO: write your code to answer question 1

spark.sql('''
          SELECT DISTINCT page 
          FROM user_log_table 
          where userId = ""
          '''
          ).show()

+-----+
| page|
+-----+
| Home|
|About|
|Login|
| Help|
+-----+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [6]:
# TODO: write your code to answer question 3

spark.sql('''
          SELECT gender, count(*) from
          (
          SELECT userId, gender 
          FROM user_log_table 
          GROUP BY 1,2)
          GROUP BY 1 ORDER BY 1
          '''
          ).show()

+------+--------+
|gender|count(1)|
+------+--------+
|  null|       1|
|     F|     462|
|     M|     501|
+------+--------+

# Question 4

How many songs were played from the most played artist?

In [7]:
# TODO: write your code to answer question 4
spark.sql('''
          SELECT artist, count(*)
          FROM user_log_table
          WHERE artist is not null
          GROUP BY 1 ORDER BY 2 DESC
          LIMIT 1
          '''
          ).show()

+--------+--------+
|  artist|count(1)|
+--------+--------+
|Coldplay|      83|
+--------+--------+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [8]:
# TODO: write your code to answer question 5